{% extends "layout.html" %}
{% block body %}
<h3>Teachers</h3>
{% if teachers %}
<ul class="list-group">
    
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Username</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for teacher in teachers %}
          <tr>
            <th scope="row">{{teacher.id}}</th>
            <td><a href="/userdetail/{{teacher.id}}">{{teacher.username}}</a></td>
            <td>{{teacher.name}}</td>
            <td>{{teacher.email}}</td>
            <td><a href="/admin/delete/teacher/{{teacher.username}}" class="btn btn-warning">Delete</a></td>
          </tr>
          
          
          {% endfor %}
          
        </tbody>
      </table>    
    
  </ul>

{% else %}
<div class ="alert alert-danger" > Henüz Burada hiç makale bulunmuyor.</div>

{% endif %}


{% endblock body %}