{% extends "layout.html" %}
{% block body %}

<div class="container" style="background-color: #CAC6C6; padding: 20px;">
    <h2 style="color: #349CF7; font-weight: bold;">About Us</h2>
    <hr>

    <p style="font-size: 18px;">
        <span style="font-size: 40px; font-weight: bold;">L</span>orem ipsum, dolor sit amet consectetur adipisicing elit.
        Nostrum sunt harum mollitia, aspernatur nobis aliquam laboriosam reprehenderit architecto odio eligendi?
        Praesentium rerum ipsam autem necessitatibus in?
        Eius corrupti odio error nemo saepe exercitationem impedit similique?
        Suscipit rerum obcaecati eligendi beatae ab consectetur quibusdam tempora ipsum consequuntur omnis, dolorum recusandae!
        Debitis quasi dicta eligendi libero aliquam?
        Dolorum repellat sit ab ex numquam perspiciatis expedita sint alias, labore, est aperiam culpa tempora!
    </p>
    <p style="font-size: 18px;">
        <span style="font-size: 40px; font-weight: bold;">L</span>orem ipsum dolor, sit amet consectetur adipisicing elit.
        Similique quo quisquam nam deserunt provident natus tempore quos, soluta rem quia ex minima distinctio,
        quaerat ratione! Quisquam consequatur, temporibus, quidem explicabo voluptatem repellat eveniet eaque,
        deserunt numquam asperiores aperiam? Mollitia quas labore exercitationem! Voluptates magni sed assumenda exercitationem cumque, voluptas perspiciatis.
    </p>
</div>

{% endblock body %}