{% extends 'layout.html' %}

{% block body %}
    <h1>Upload Profile Picture by URL</h1>
    <form method="post">
        <label for="image_url">Image URL:</label>
        <input type="text" name="image_url" id="image_url" required>
        <button type="submit">Upload</button>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% endblock  %}

