{% extends 'layout.html' %}
{% block body %}
{% if article %}



<h3>{{article.title}}</h3>
<hr>
 <h5 >Author: <b style= "color:orange;">{{article.author}}</b></h5>
<hr>
Date: {{article.created_date}}
<hr>

<div class = "container" style = "background-color:#797977; color:white; border-radius:10px; font-size:20px">

    {{article.content|safe}}
</div>
<h6>Recommended URL: <a href="{{article.url}}">{{article.url}}</a></h6>
{% if screenshot_filename %}
<div class="screenshot-wrapper">
    <img style="width: 900px;height: 500px;;" src="{{ url_for('static', filename='screenshots/' ~ screenshot_filename) }}" alt="Screenshot">
</div>
{% endif %}

{% else %}
<div class = "alert alert-warning">
    Böyle bir makale bulunmuyor.
</div>

{% endif %}



{% endblock body %}