<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Home</a>
      <a class="navbar-brand mx-3" href="/articles">Articles</a>
      <a class="navbar-brand mx-3" href="/questions">Q&A</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div  class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto ">
        
        {% if session["logged_in"] == True %}  
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page" href="/dashboard">Dashboard</a>
          </li>
          
        
          {% endif %}
          <li class="nav-item">
            <a class="nav-link mx-2" href="/about">About us</a>
          </li>
         {% if session["logged_in"] != True %}
          <li  class="nav-item dropdown">
            <a  class="nav-link me-1 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Login
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" size ="10">
              <li><a class="dropdown-item" href="/student/login">Login as Student</a></li>
              <li><a class="dropdown-item" href="/teacher/login">Login as Teacher</a></li>
           
              
            </ul>
          </li>
          
          <li style = "width:150px;" class="nav-item dropdown">
            <a  class="nav-link me-5 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Register
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" size ="8">
              <li><a class="dropdown-item" href="/student/register">Register as Student</a></li>
              <li><a class="dropdown-item" href="/teacher/register">Register as Teacher</a></li>
           
              
            </ul>
          </li>
          
          {% endif %}
        {% if session["logged_in"] == True %}
        <li style = "width:150px;" class="nav-item dropdown">
          <a  class="nav-link me-5 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{session["username"]}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" size ="8">
            <li><a class="dropdown-item" href="/{{session["username"]}}/settings/account">Settings</a></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
         
            
          </ul>
        </li>
        {% endif %}
         
          <!--<li style="width: 150px;" class="nav-item dropdown">
            <a  class="nav-link me-5 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" size ="10">
              <li><a class="dropdown-item" href="/user/dashboard">Dashboard</a></li>
              <li><a class="dropdown-item" href="/user/settings">Settings</a></li>
              <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
              
            </ul>
          </li>-->

      
        </ul>
      </div>
    </div>
</nav>