{% extends 'layout.html' %}
{% block body %}
{% from "includes/formhelper.html" import render_field %}
<h3>Create a Quiz</h3>
<hr>
<div class = "container">
    <form method="post">
        {{ render_field(form.question,class = "form-control") }}

        {{ render_field(form.choice1,class = "form-control") }}
        {{ render_field(form.choice2,class = "form-control") }}
        {{ render_field(form.choice3,class = "form-control") }}
        {{ render_field(form.choice4,class = "form-control") }}
        {{ render_field(form.RightAnswer,class = "form-control") }}

        
        <button type="submit" class="btn btn-danger">Add Article</button>
    </form>
</div>

{% endblock body %}